body {
	font-family: "Helvetica Rounded MT Bold"
};

h1 {
	font-size: 50px;
	font-weight: bold;
	font-family: "Helvetica Rounded MT Bold" !important;
	background-color: #674EA7;
	background-size: cover;
}

p {
	font-weight: bold;
	font-family: "Helvetica Rounded MT Bold";
}

h3 {
	font-weight: bold;
	font-family: "Helvetica Rounded MT Bold";
}

#bar {
	width: 100%;
	height: 100%;
}

#gauge {
	width: 100%;
	height: 100%;
}

#bubbl {
	text-align: center !important;
	width: 100%;
	height: 100%;
}

.chart {
	overflow: hidden;
}
